{% extends "base.html" %}

{% block content %}

{% autoescape off %}

<!DOCTYPE html>
<html>

  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a href="{{url_for('home')}}" onclick="">
        <span class="glyphicon glyphicon-home"></span>
        </a>
  <head>
    <meta charset="utf-8">
    <div style="padding-left: 1cm !important;">
    <h2> Blog Post 👽 </h2>
    </div>
  </head>
  <div class="d-flex">
  <a href="{{url_for('logout')}}" style="padding-inline-end: 1cm !important;">
  <button class="btn btn-secondary my-2 my-sm-0" >Logout</button>
  </a>
  </div>
</div>
</nav>
  <body>

    <h2>Make a comment!</h2>
    <br>

    <form action="/blog" method="POST">


      <div class="form-group">
        <label for="exampleInputComment" class="form-label mt-4">Comment</label>

        <input type="text" name="comment" 
        placeholder="Comment" autocomplete="off" class="form-control" />

      <div data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div></div>

      <br>
      <input class="btn btn-outline-secondary" type="submit" value="Submit new comment" />
      <div class="form-group">


   
    </form>
    <br>
    <h3>Showing all comments:</h3>
   

    {% for comment in comments %}
      <div>
        <p>{{ comment }}</p>
      </div>
    {% endfor %}


  </body>
</html>
{% endautoescape %}
{% endblock %}