{% extends "base.html" %}

{% block content %}


<fieldset>
<!DOCTYPE html>
<html>
  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
  <head>
    <meta charset="utf-8">
    <h3> Script 💻 </h3>
  </head>
  </div>
</div>
</nav>
</br>

  <body>

    <h2> Run! 🕸 </h2>
	<br>
	<form action="" method="get">
                 <input class="form-control" type="text" name="script" placeholder="Script">
                 <br>
                 <input class="btn btn-outline-secondary" type="submit" value="Run">
    </form>  
    <br>
    <h5>
    <a id="script"> 
        {{ script|safe }}
    </a>
    </h5>  


</body>
</html>
</fieldset>

{% endblock %}